.memoryListItem {
  height: 100px;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.18);
  }

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .content {
    display: flex;
    gap: 10px;
    height: 20px;
  }

  .date {
    color: rgba(255, 255, 255, 0.4);
  }

  .text {
    color: rgba(255, 255, 255, 0.6);
  }
}
