.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .container {
    display: flex;
    gap: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px;

    label {
      display: flex;
      gap: 20px;
      align-items: center;
      width: 150px;
    }

    span {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .input {
    width: 100%;
    position: relative;
    // background-color: inherit;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15%;
    cursor: pointer;
    position: absolute;
    left: 90px;
    top: 2px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 40rem black inset;
    box-shadow: 0 0 0px 40rem black inset;
  }

  .textarea {
    height: 420px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    &-error {
      border: 2px solid rgb(220, 113, 113);
    }
  }

  .btn {
    width: 180px;
    padding: 10px 30px;
    border-radius: 6px;
    background: #312eb5;
    &:disabled {
      filter: grayscale(0.7);
    }
    &:hover,
    &:focus {
      background: #4c4bae;
    }
  }

  .error {
    border-bottom: 2px solid rgb(220, 113, 113);
  }

  .error__msg {
    margin-top: 5px;
    color: red;
  }
}
